﻿@model LogicLayer.Models.Model_ArticleDelete

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Delete Confirmation:</h2>

<h3> Are you sure you want to delete this article ?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="articleId" value="@Model.articleId">

    <div class="form-group">
        @Html.LabelFor(model => model.confirm, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.confirm, "true") Yes
            @Html.RadioButtonFor(model => model.confirm, "false") No
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>

}