﻿
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Common.Article articleInReview = new LogicLayer.ArticleRepository().getArticle(Model.articleId);
    IEnumerable<Common.Comment> allArticleComments = new LogicLayer.CommentsRepository().getCommentsForArticle(Model.articleId);
}

<h2>Viewing Article: </h2>

<h3> @articleInReview.article_title </h3>

<p> @articleInReview.article_text</p>

@Html.ActionLink("Edit", "Edit","Article", new { articleId = @articleInReview.articleid }, null) @Html.ActionLink("Delete", "Delete", new { articleId = @articleInReview.articleid }, null)

<h4> Comments: </h4>

<table>
    <tr>
        <td> Comment </td>
        <td>Author</td> </td>

        @{
            foreach (var c in allArticleComments)
            {
            <tr><td>@c.comment1</td> <td> @c.author</td> <td>@Html.ActionLink("Edit", "Edit","Comment", new { commentId = @c.commentid }, null)</td> <td>@Html.ActionLink("Delete", "Delete", "Comment", new { commentId = @c.commentid }, null)</td></tr>
            }
        }
     
</table>
