﻿@model LogicLayer.Models.Model_ArticleUpdate
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Common.Article article= new LogicLayer.ArticleRepository().getArticle(Model.articleId);
}

<h2>Editing Article: @Model.title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <div>
            @Html.HiddenFor(model => model.articleId, new { htmlAttributes = new { @class = "form-control", @Value = @article.articleid } })
        </div>
    </div>
    <div>
        <div >
            @Html.HiddenFor(model => model.workflow, new { htmlAttributes = new { @class = "form-control", @Value = @article.workflow_id } })
        </div>
    </div>
    <div>
        <div>
            @Html.HiddenFor(model => model.state, new { htmlAttributes = new { @class = "form-control", @Value = @article.state } })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.author, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.author, new { htmlAttributes = new { @class = "form-control", @Value = @article.author, @Disabled = true } })
            @Html.ValidationMessageFor(model => model.author, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", @Value = article.article_title} })
            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.body, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.body, new { htmlAttributes = new { @class = "form-control", @Value = article.article_text } })
            @Html.ValidationMessageFor(model => model.body, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.date_posted, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.date_posted, new { htmlAttributes = new { @class = "form-control", @Value = @article.date_posted, @Disabled = true } })
            @Html.ValidationMessageFor(model => model.date_posted, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>

}




