﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@{
    IEnumerable<Common.Article> allUserArticles = new LogicLayer.ArticleRepository().getUserArticles(User.Identity.Name);
    IEnumerable<Common.Article> allWriterUnreviewedArticles = new LogicLayer.ArticleRepository().getWriterUnreviewedArticles(User.Identity.Name);
    IEnumerable<Common.Article> allMMUnreviewedArticles = new LogicLayer.ArticleRepository().getMMUnreviewedArticles(User.Identity.Name);
    Common.User self = new LogicLayer.UserRepository().getUser(User.Identity.Name);
 }

<h2>Your Articles:</h2>

<h2>@self.Roles.FirstOrDefault().role_name </h2>

<table>
    <tr><td>Article Title</td> <td>Author</td> <td>Date Posted</td> <td> State </td> </tr>

    @{
        foreach (var a in allUserArticles)
        {
            Common.ArticleState s = new LogicLayer.ArticleRepository().getState(a.state);
            <tr><td>@a.article_title</td> <td>@a.author</td> <td>@a.date_posted</td> <td>@s.state_name</td> <td><a>@Html.ActionLink("Details", "Details", new { articleId = @a.articleid }, null)</a></td></tr>
        }
    }
</table>

@Html.ActionLink("New Article", "Create")

<h2>All Articles:</h2>

<table>
    <tr><td>Article Title</td> <td>Author</td> <td>Date Posted</td> </tr>

    @{
        if (new LogicLayer.UserRepository().getUserRole(User.Identity.Name).FirstOrDefault().roleid == 1)
        {
            foreach (var a in allWriterUnreviewedArticles)
            {
                <tr><td>@a.article_title</td> <td>@a.author</td> <td>@a.date_posted</td> <td>@Html.ActionLink("Review", "Review", new { articleId = @a.articleid }, null)</td></tr>
            }
        }

        else {
            foreach (var a in allMMUnreviewedArticles)
            {
                <tr><td>@a.article_title</td> <td>@a.author</td> <td>@a.date_posted</td> <td>@Html.ActionLink("Review", "Review", new { articleId = @a.articleid }, null)</td></tr>
            }
        }

    }
</table>