﻿@model LogicLayer.Models.Model_ArticleReview

@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Common.Article articleInReview = new LogicLayer.ArticleRepository().getArticle(Model.articleId);
}

<h2>Reviewing Article: @articleInReview.article_title </h2>

<p>
    @articleInReview.article_text
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <div>
            @Html.HiddenFor(model => model.author, new { htmlAttributes = new { @class = "form-control", @Value = User.Identity.Name} })
        </div>
    </div>

<div class="form-group">
    @Html.LabelFor(model => model.comment, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.comment, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.comment, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.accepted, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.RadioButtonFor(model => model.accepted, "true") Accept
        @Html.RadioButtonFor(model => model.accepted, "false") Reject
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Submit Review" class="btn btn-default" />
    </div>
</div>

}

