﻿
@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    IEnumerable<Common.User> allWriters = new LogicLayer.UserRepository().getUsersBy(1);
    IEnumerable<Common.User> allMediaManagers = new LogicLayer.UserRepository().getUsersBy(2);
    IEnumerable<Common.User> allAdmins= new LogicLayer.UserRepository().getUsersBy(3);
    int userRole = new LogicLayer.UserRepository().getUserRole(User.Identity.Name).FirstOrDefault().roleid;
}

<h2>Writers</h2>
<table>
    <tr> <td>Username</td> <td>Email</td> </tr>


    @{
        foreach (var writer in allWriters)
        {
            <tr> <td>@writer.username</td> <td>@writer.email</td> <td> @if (userRole == 3) {@Html.ActionLink("Edit", "Edit", "Accounts", new { username = @writer.username }, null)} </td> <td>@Html.ActionLink("Delete", "Delete", "Accounts", new { username = @writer.username }, null)</td> </tr>
        }

    }
</table>

<h2>Media Managers</h2>
<table>
    <tr> <td>Username</td> <td>Email</td> </tr>

    @{
        foreach (var mm in allMediaManagers)
        {
            <tr> <td>@mm.username</td> <td>@mm.email</td> <td> @if (userRole == 3){@Html.ActionLink("Edit", "Edit", "Accounts", new { username = @mm.username }, null) }</td> <td>@Html.ActionLink("Delete", "Delete", "Accounts", new { username = @mm.username }, null)</td></tr>
        }
    }
</table>



<h2>Admins</h2>
<table>
    <tr> <td>Username</td> <td>Email</td> </tr>

    @{
        foreach (var admin in allAdmins)
        {
            <tr> <td>@admin.username</td> <td>@admin.email</td> <td> @if (userRole == 3)
            {@Html.ActionLink("Edit", "Edit", "Accounts", new { username = @admin.username }, null) }</td>
            <td>@Html.ActionLink("Delete", "Delete", "Accounts", new { username = @admin.username }, null)</td></tr>
        }
    }
</table>


@if (userRole == 3)
{@Html.ActionLink("Create User", "Create", "Accounts");
}